In [1]:
import pandas as pd
import numpy as np

# Q1. Pandas version

In [2]:
pd.__version__

'2.3.1'

In [18]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9704 entries, 0 to 9703
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   engine_displacement  9704 non-null   int64
 1   num_cylinders        9222 non-null   float64
 2   horsepower           8996 non-null   float64
 3   vehicle_weight       9704 non-null   float64
 4   acceleration         8774 non-null   float64
 5   model_year           9704 non-null   int64
 6   origin               9704 non-null   object
 7   fuel_type            9704 non-null   object
 8   drivetrain           9704 non-null   object
 9   num_doors            9202 non-null   float64
 10  fuel_efficiency_mpg  9704 non-null   float64
dtypes: float64(6), int64(2), object(3)
memory usage: 834.1+ KB

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

# Q2. Records count

### A: 9704

In [5]:
df.shape[0] # Gets the number of rows

9704

# Q3. Fuel Types

### A: 2

In [10]:
# df['fuel_type'].unique().size
# OR
df['fuel_type'].nunique()

2

# Q4. Missing values

### A: 4

In [14]:
sum(df.isna().sum() > 0)

4

# Q5. Max fuel efficiency

### A: 23.75

In [22]:
df[df['origin'] == 'Asia']['fuel_efficiency_mpg'].max()

np.float64(23.759122836520497)

# Q6. Median value of horsepower

### A: Yes it increased

In [23]:
df['horsepower'].median()

np.float64(149.0)

In [26]:
df['horsepower'].mode()[0]

np.float64(152.0)

In [28]:
mode = df['horsepower'].mode()[0]
df_horsepower_filled = df.copy()
df_horsepower_filled['horsepower'] = df['horsepower'].fillna(mode)
df_horsepower_filled['horsepower'].median()

np.float64(152.0)

# Q7. Sum of Weights

In [46]:
# 1
df_cars_from_asia = df[df['origin'] == 'Asia']

# 2
df_cars_filtered_columns = df_cars_from_asia[['vehicle_weight','model_year']]

# 3
df_cars_filtered_columns = df_cars_filtered_columns.head(7)

# 4
x = df_cars_filtered_columns.values

# 5
xtx = x.T.dot(x)

# 6
xtx_inv = np.linalg.inv(xtx)

# 7
y = [1100, 1300, 800, 900, 1000, 1100, 1200]

# 8
xtx_inv_dot_x_transpose = xtx_inv.dot(x.T)
w = xtx_inv_dot_x_transpose.dot(y) 

# Answer: 0.51
sum(w)


### For experiments how .eye works 
# identity_computed = xtx_inv.dot(xtx)
# identity_expected = np.eye(xtx.shape[0])

# help(np.allclose)
# np.allclose(identity_computed, identity_expected)  # Should print: True

np.float64(0.5187709081074016)